body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {

  /* height: 400px !important; */
  background-color: darkblue;
  color: white;
  border-radius: 10px;
  /* margin: 0px 150px; */
  overflow-y: scroll;
}

th {
  padding: 10px 20px;
  font-size: 1.1rem;

}

tr {
  border: 1px solid #eee;
  padding: 10px;

}

tbody td {
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid #adadad;
  background-color: rgb(235, 233, 233);
  color: black;
  padding: 10px;
  transition: 0.5 all linear;
}

form {
  background-color: darkblue;
  color: white;
  width: 380px;
  border-radius: 7px;
  padding: 15px 30px;
  margin-top: 30px;
}

form label {
  text-align: left;
  font-weight: 500;
  margin: 6px 0px;
}

form input[type="text"],
[type="number"] {
  width: 95%;
  margin: 7px 0px;
  border: none;
  padding: 4px 3px;
  border-radius: 5px;
}

form input[type="checkbox"] {
  /* display: inline; */
  margin: 5px 15px 0px 9px;

  /* display: block; */
}

form button {
  background-color: yellow;
  color: black;
  border: 0px;
  padding: 5px 25px;
  border-radius: 8px;
}